body {
    font-size: 20px;
    font-weight: normal;
    letter-spacing: 1px;
    background: linear-gradient(-90deg, rgb(193,61,255), rgb(35,96,214));
}

.toolbar {
    background: linear-gradient(45deg, #EBF5CF 20%, #BEFCFF 55%);
    /*background: linear-gradient(45deg, #0081CF 50%, #7543D7 80%);*/
    paddingRight: 24;
}

#myContent {
    margin-top: 15vh;
}

.loginRow {
    padding: 20px;
    background: #ffffff;
    border-radius: 15px;
}

.loginCol2 {
    padding: 50px;
}

.loginColWrapper {
    padding: 7px;
}

.inputDiv {
    background: #f1f1f1;
    border-radius: 25px;
    padding: 10px;
    margin-top: 15px;
    width: 400px;
}

.input {
    border-style: none;
    background: rgba(255,255,255,0);
    margin-left: 10px;
    color: rgb(152,152,152);
    width: 300px;
}

.emailIcon {
    margin-left: 15px;
    color: rgb(152,152,152);
}

.pwdIcon {
    margin-left: 15px;
    color: rgb(152,152,152);
    font-size: 30px;
}

.loginBtn {
    background: #95e47a;
    border-radius: 25px;
    padding: 10px;
    margin-top: 10px;
    width: 400px;
}

#linkToSignup {
    font-weight: normal;
    margin-top: 10px;
    width: 400px;
}

#cookieSignIn {
    font-weight: normal;
    margin-top: 15px;
    margin-left: 5px;
}

#authHead {
    font-weight: bold;
    font-size: 25px;
    text-align: center;
}

.authErrDiv span {
    text-align: center;
    font-weight: normal;
    color: red;
    margin: 10px;
    padding: 5px;
}

@media screen and (max-width: 600px) {
    
    
}

/* ------------------------------------------------------------END OF SIGN IN PAGE------------------------------------------------------------ */

.signupWrapper {
    background: #ffffff;
    width: 800px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
}

.registerRow {
    padding: 50px;
}

.userIcon {
    margin-left: 15px;
    color: rgb(152,152,152);
    font-size: 25px;
}

.registerDiv {
    padding-right: 150px;
    padding-left: 135px;
}

/* ------------------------------------------------------------END OF SIGN UP PAGE------------------------------------------------------------ */

.navColor {
    background-color: white;
}

#logo {
  max-height: 40px;
  margin-right: 10px;
  margin-top: -3px;
  display: inline-block;
  border-radius: 100%;
}

#jumbo {
  text-align: center;
  padding: 40px;
  height: 400px;
}

#jumbo .jumbotron {
  border-radius: 20px;
  padding: 40px;
  background-color: rgba(255,255,255,0.75);
  max-width: 1000px;
  height: 250px;
  margin: 50px auto;
}

.site-section {
  text-align: center;
  padding: 50px 0 60px;
}

.site-section h1 {
  font-weight: normal;
  margin-bottom: 30px;
}

#welcome {
  max-width: 800px;
  font-size: 20px;
  margin: 0 auto;
}

/* ------------------------------------------------------------END OF HOME PAGE------------------------------------------------------------ */
