<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User Dashboard</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<body class="w3-theme-l5">
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-md navColor">
        <div class="container-fluid" ><a class="navbar-brand" href="#" ><img id="logo" src="/static/logo.png" alt=""><strong>Reach Out</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link" href="#">Welcome,{{user}}</a></li>
                    <li class="nav-item"><a class="nav-link" href="/signout"> Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">    
        <!-- The Grid -->
        <div class="w3-row">
          <!-- Left Column -->
          <div class="w3-col m3">
            <div class="w3-container w3-display-container w3-round w3-theme-l4 w3-border w3-theme-border w3-margin-bottom w3-hide-small">
              Something Here
            </div>
            
         
           
           
          
          <!-- End Left Column -->
          </div>
          
          <!-- Middle Column -->
          <div class="w3-col m7">
          
            <div class="w3-row-padding">
              <div class="w3-col m12">
                <div class="w3-card w3-round w3-white">
                  <div class="w3-container w3-padding">
                    <h6>Find Friends</h6>
                    <p contenteditable="true" class="w3-border w3-padding"></p>
                    <button type="button" class="w3-button w3-theme-l4"><i class="fa fa-search"></i> Search</button> 
                  </div>
                </div>
              </div>
            </div>
            
            
            
          <!-- End Middle Column -->
          </div>
          
          <!-- Right Column -->
          <div class="w3-col m2">
            <div class="w3-container">
              something here

            </div>
            
          <!-- End Right Column -->
          </div>
          
        <!-- End Grid -->
        </div>
        
      <!-- End Page Container -->
      </div>
      <br>

</body>
</html>