<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="/static/Footer-Dark.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navColor">
        <div class="container-fluid"><a class="navbar-brand" href="#"><img id="logo" src="/static/logo.png" alt=""><strong>Reach Out</strong></a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link active" href="#">About Us</a></li>
                    <li class="nav-item"><a class="nav-link" href="/signup">Sign Up</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Sign In</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div id="jumbo" style="background: url(/static/img02.jpg) center / cover no-repeat;">
        <div class="jumbotron">
            <h1>Time To Reach Out!</h1>
            <p>Join Reach Out to share happiness</p>
            <p></p>
        </div>
    </div>
    <div class="container site-section" id="welcome">
        <h1>Welcome To Reach Out</h1>
        <p>Reach Out was founded in 2021 by the four amigos with a mission of reaching out to your friends during the covid pandemic and enjoying your precious time. Our dedication and the enormous outreach has won us lots of awards.</p>
    </div>
    <footer class="footer-dark">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-3 col-lg-3 item">
                    <h3>Services</h3>
                    <ul>
                        <li>&nbsp;Technical Support</li>
                        <li>&nbsp;Teams and Careers</li>
                        <li>&nbsp;24/7 Customer Care</li>
                    </ul>
                </div>
                <div class="col-sm-6 col-md-3 item">
                    <h3>Address</h3>
                    <ul>
                        <li>&nbsp;4 Amigos, OMR Road, Chennai</li>
                        <li>&nbsp;Contact Us - 8065432456</li>
                        <li>&nbsp;Live Separated, Stay Connected!</li>
                    </ul>
                </div>
                <div class="col-md-6 item text">
                    <h3>Reach Out</h3>
                    <p>Join us to spread love and joy to your family and friends. Spread Positivity and stay happy.</p>
                </div>
                <div class="col item social"><a href="#"><i class="icon ion-social-facebook"></i></a><a href="#"><i class="icon ion-social-twitter"></i></a><a href="#"><i class="icon ion-social-snapchat"></i></a><a href="#"><i class="icon ion-social-instagram"></i></a></div>
            </div>
            <p class="copyright">Reach Out © 2021</p>
        </div>
    </footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>