<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Efficient Message Drop</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-blue-grey.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Open+Sans'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="row" style="margin-top: 15vh">
        <div class="col-3"></div>
        <div class="col-6 m7">
            <div class="w3-row-padding">
                <div class="w3-col m12">
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container">
                          <h4 style="text-align: center">Efficient Messaging</h4>
                          <ul class="w3-ul w3-card-4 w3-white">
                              {% if required['edgeList']|length == 0 %}
                                  <p>No Users</p>
                                {% else %}
                                  {% for item in required['edgeList'] %}
                                      <li class="w3-padding-16 ">
                                          <span>{{ item[0] }}</span>
                                          <span class="float-right"><pre> {{ item[1] }} </pre></span>
                                          <br>
                                      </li>
                                  {% endfor %}
                                {% endif %}
                          </ul>
                          <br>
                        </div>
                    </div>
                    <hr>
                    {% if required['non']|length != 0 %}
                        <div class="w3-card w3-round w3-white">
                            <div class="w3-container">
                              <h4 style="text-align: center">Unreachable Users</h4>
                              <ul class="w3-ul w3-card-4 w3-white">
                                  {% for item in required['non'] %}
                                      <li class="w3-padding-16 ">
                                          <span>{{ item }}</span>
                                          <br>
                                      </li>
                                  {% endfor %}
                              </ul>
                              <br>
                            </div>
                        </div>
                        <hr>
                    {% endif %}
                    <div class="w3-card w3-round w3-white">
                        <div class="w3-container">
                          <a href="/dashboard"><h4 style="text-align: center" ><i class="fa fa-chevron-circle-left"></i> Go Back</h4></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-3"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>