<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sign In</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body class="d-xl-flex justify-content-xl-center align-items-xl-center">
    <div class="container" id="myContent">
        <div class="row loginRow">
            <div class="col-md-6" style="background: url('/static/img01.jpg') center / cover no-repeat; padding: 0;">
                <div></div>
            </div>
            <div class="col-md-6 loginCol2">
                <div class="loginColWrapper">
                    <div>
                        <div>
                            <p id="authHead">User Login</p>
                        </div>
                        <form method='post'>
                            <div>
                                <div class="inputDiv">
                                    <i class="fa fa-envelope emailIcon"></i>
                                    <input class="input" type="email" placeholder="Email" name="email" autocomplete="on" required>
                                </div>
        
                                <div class="inputDiv">
                                    <i class="fa fa-lock pwdIcon"></i>
                                    <input class="input" type="password" placeholder="Password" name="password" minlength="6" maxlength="20" required>
                                </div>
        
                                <label id="cookieSignIn">
                                    <input type="checkbox" name="keepSignedIn"> Keep me signed in
                                </label>
        
                                <button type="submit" class="btn btn-primary btn-lg btn-block loginBtn">Login</button>
                                
                            </div>
                        </form>

                        <div class="authErrDiv">
                            <span>{{err}}</span>
                        </div>
                        
                        <div>
                            <p class="text-center" id="linkToSignup">Want to register? <a href="/signup">Click here</a>.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>