<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Register</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles.css">
</head>

<body>
    <div class="container signupWrapper">
        <div class="row registerRow">
            <div class="col-md-12">
                <div class="registerDiv">
                    <div>
                        <p style="font-size: 25px;">User Sign Up</p>
                    </div>
                    <div>
                        <div class="inputDiv">
                            <i class="fa fa-user userIcon"></i>
                            <input type="text" class="input" placeholder="Username" name="username" minlength="6" maxlength="20" required>
                        </div>

                        <div class="inputDiv">
                            <i class="fa fa-envelope emailIcon"></i>
                            <input type="email" class="input" placeholder="Email" name="email">
                        </div>

                        <div class="inputDiv">
                            <i class="fa fa-lock pwdIcon"></i>
                            <input type="password" class="input" placeholder="Password" name="password" minlength="6" maxlength="20" required>
                        </div>

                        <div class="inputDiv">
                            <i class="fa fa-lock pwdIcon"></i>
                            <input type="password" class="input" placeholder="Confirm Password" name="confirmPwd" minlength="6" maxlength="20" required>
                        </div>

                        <button type="button" class="btn btn-primary btn-lg btn-block loginBtn">Login</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>